/* search box */
.searcher {
  display: flex;
  justify-content: space-between;
}

.searcher__pods-number {
  background-color: var(--bgsky400);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: bolder;
}

.searcher__search-box {
  position: relative;
}

.searcher__search-box input {
  padding: 5px;
  border: 1px solid var(--bgslate500);
}

.searcher__search-box ul {
  position: absolute;
  top: 35px;
  min-width: 240px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 5px;
  background-color: white;
  border: 1px solid var(--grey200);
}

.searcher__search-box li {
  padding: 5px;
  border-bottom: 1px solid var(--bgsky400);
}

.searcher__search-box li:last-child {
  border-bottom: none;
}

.searcher__search-box button {
  display: block;
  width: 100%;
  padding: 2px;
}
