.container {
  width: 1090px;
  height: 65vh;
  margin-top: 20px;
  overflow-y: scroll;
  padding: 20px;
}

/* main-view-container */
.main-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-pods-prev {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
}

/* podcast detail view */
.podcast-detail-view-container,
.episode-detail-view-container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.podcast-detail-view-container button {
  cursor: unset;
}

.podcast-detail-view-container .episodes {
  flex-grow: 1;
}

.podcast-detail-view-container .podcast-detail {
  width: 300px;
}

.podcast-detail-view-container .episodes {
  width: 700px;
}

/* episode detail view */
.episode-detail-view-container .podcast-detail {
  width: 300px;
}

.episode-detail-view-container .episode-detail {
  width: 700px;
}
