.episodes__result-count {
  margin-bottom: 20px;
  padding: 5px;
}

.episodes__list {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: var(--txtblue900);
}

.episodes__list thead th {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.episodes__list th,
td {
  padding: 10px 5px;
}

.episodes__list tbody tr:nth-child(odd) {
  border-bottom: 1px solid var(--bgslate300);
  border-top: 1px solid var(--bgslate300);
  background-color: var(--bgslate100);
}

.episodes__list tbody tr {
  cursor: pointer;
}

.episodes__list thead th:first-child {
  width: 75%;
}

.episodes__list thead th:last-child {
  text-align: center;
}

.episodes__list tr > td:last-child {
  text-align: center;
}
